# Created by .ignore support plugin (hsz.mobi)
### Symfony template
/.idea/
/.idea/*
/mysql/*
!mysql/.gitkeep
/.vagrant/
/.vagrant/*
/html/TP
/html/TP/*
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar

