{% extends 'layout.html.twig' %}

{% trans_default_domain 'contact' %}

{% block title 'contact.main_title'|trans %}

{% block body %}

    <h2>{{ 'contact.subtitle'|trans }}</h2>

    {{
    form(form, {
        'attr': {
            'novalidate': 'novalidate'
        }
    })
    }}

{% endblock %}
